name: BuildReleaseContainerImage

on:
  push:
    tags:
      - 'v*'

env:
  REPO: kubesphere

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
        with:
          platforms: all

      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.REGISTRY_USER }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build and push docker images
        if: github.event_name == 'push'
        run: |
          tag=$(cat VERSION | tr -d " \t\n\r")
          make docker-build -e REPO=${{ env.REPO }} -e TAG=$tag -e CONTAINER_BUILDER="buildx build" CONTAINER_BUILD_EXTRA_ARGS="--platform=linux/amd64,linux/arm64 --push"
