name: CI

on:
  pull_request:
    branches:
    - master
    - main
    - release-*
    paths-ignore:
    - '**/*.md'
  push:
    branches:
    - master
    - main
    - release-*
    tags:
    - v*
    paths-ignore:
    - '**/*.md'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.21'

    - name: Test
      run: make test

    - name: Build
      run: make all